<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:700&display=swap" rel="stylesheet">

</head>
<body>
<div class="wrapper">
    <div class="nav">
        <div class="nav__logo">
            <img src="images/villa.png" alt="vila gold fancy" class="nav__logo--img">
        </div>
        <div class="nav__name">
            <h1>Villa Gold Fancy</h1>
        </div>
        <div class="nav__links">
            <button class="nav__links--Home">Home</button>
            <button class="nav__links--Info">Info</button>
            <button class="nav__links--Buy">Buy</button>
            <button class="nav__links--Contact">Contact</button>
        </div>
    </div>
    <!-- <div class="corousel-container">
        <div class="corusel-slide">
            <img src="images/golden.jpg" alt="" id="lastClone">
            <img src="images/gold.jpg" alt="">
            <img src="images/goldenf.jpg" alt="">
            <img src="images/gold.jpg" alt="" id="firstClone">
        </div>
    </div>
    <button class="prevBtn">Prev</button>
    <button class="nextBtn">nextBtn</button> -->
    <div class="container">
        <p>Złoto inwestycyjne</p>
        <!-- <img src="images/gold.jpg" alt="gold" class="container__imgs"> -->
    </div>
    <div class="offerts">
        <div class="offerts__gold--valuation">
            <!-- <img src="images/gold.jpg" alt="gold" class="offerts__gold--valuation-img"> -->
            <p>Wycena złota</p>
        </div>
        <div class="offerts__gold--purchase">
            <p>Skup złota</p>
            <!-- <img src="images/gold.jpg" alt="gold" class="offerts__gold--purchase-img"> -->
        </div>
        <div class="offerts__gold--rings">
            <p>Obrączki ślubne</p>
            <!-- <img src="images/gold.jpg" alt="gold" class="offerts__gold--rings-img"> -->
        </div>
        <div class="offerts__gold--jewelry">
            <p>Projektowanie biżuterii</p>
            <!-- <img src="images/gold.jpg" alt="gold" class="offerts__gold--jewelry-img"> -->
        </div>
    </div>
    <div class="business">
        <p>Informacje o firmię.</p>
    </div>
    <div class="employees">
        <div class="employees__one">
            <p>Pracownik 1</p>
        </div>
        <div class="employees__founder">
            <p>Anna Erat</p>
        </div>
        <div class="employees__three">
            <p>Pracownik 3</p>
        </div>
    </div>
</div>
<footer>
    <div class="footer__socialmedia">
        <h1 class="footer__socialmedia--SocialMedia">Social Media</h1>
        <h2 class="footer__socialmedia--Fp">FanPage</h2>
        <h3 class="footer__socialmedia--VGF">Vila Gold Fancy</h3>
        <h2 class="footer__socialmedia--Ig">Vila Gold Fancy</h2>
        <h3 class="footer__socialmedia--VGF2">Vila Gold Fancy</h3>
    </div>
    <div class="footer__contact">
        <h1 class="footer__contact--Fp">Napisz do nas na Fanpagu</h1>
        <h2 class="footer__contact--Fp2">Vila Gold Fancy</h2>
        <h1 class="footer__contact--Mail">Napisz do nas maila</h1>
        <h2 class="footer__contact--Mail2">Vila Gold Fancy</h2>
        <h1 class="footer__contact--Number">Zadzwoń do nas</h1>
        <h2 class="footer__contact--Number2">791-155-220</h2>
        <h4 class="footer__contact--Creator">Strona stworzona przez maksymiliandev34@gmail.com</h4>
    </div>
    <div class="footer__premises">
        <h1 class="footer__premises--premises">Lokal</h1>
        <h2 class="footer__premises--city">Warszawa</h2>
        <h2 class="footer__premises--street">Ul Marywilska 44/lokal a 184</h2>
    </div>
</footer>

</div>
</body>
</html>